{% extends 'base.html.twig' %}

{% block title %}ListaCorreo{% endblock %}

{% block body %}
    <h1>ListaCorreo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lista_correo.id }}</td>
            </tr>
            <tr>
                <th>Correos</th>
                <td>{{ lista_correo.correos ? lista_correo.correos|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lista_correo_index') }}">back to list</a>

    <a href="{{ path('lista_correo_edit', {'id': lista_correo.id}) }}">edit</a>

    {{ include('lista_correo/_delete_form.html.twig') }}
{% endblock %}
